 /* Center the container */
body{
    background-color: rgb(166, 172, 172);
}

 .container {
    color: #ffffff;
    
    max-width: 400px;
    margin: 50px auto; /* Center horizontally and add top margin */
    padding: 20px;
    background-color: #5d5d5d;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9); /* Border shadow */
}

thead th {
    font-weight: bold;
    color: #ffffff;
}

td, th{
    text-align: center;
}

/* Style form elements */
.form-group label {
    font-weight: bold;
}

/* Button styling */
.btn-primary, .btn-danger {
    margin-top: 10px;
    width: 30%;
}

/* Checkbox spacing */
.form-check {
    margin-top: 15px;
}